.container {
}

.main {
  padding: 5vh 5vw;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  flex: 1;
  display: flex;
  min-height: calc(100vh - 10vh - 30px);
  min-width: 50vw;
  padding: 20px 40px;
}

.outputContainer {
  display: flex;
  width: 40vw;
  height: 90vh;
  overflow-y: scroll;
  padding: 20px 40px;
  flex-direction: column;
}

.lineNum {
  opacity: 0.5;
  margin: 0 10px 0;
}

.lineContainer {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.outputLine {
  margin: 0;
}
